<div class="card-body">
    <h3 class="text-center">Thông tin giáo viên</h3>
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Môn học</th>
                <th class="text-center">Họ tên</th>
                <th class="text-center">Email</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Giới tính</th>
            </tr>
        </thead>
        <tbody>
            {{#each subjects}}
            <tr >
                <td class="text-center">{{this}}</td>            
                <td class="text-center">{{lookup ../names @index}}</td>
                <td class="text-center">{{lookup ../emails @index}}</td>
                <td class="text-center">{{lookup ../phones @index}}</td>
                <td class="text-center">{{lookup ../genders @index}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- /.card-body -->